.scoreModal {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  max-width: 400px;
  height: 300px;
  padding: 20px;
  overflow: auto;
  border-radius: 8px;
  background-color: #fff;
  z-index: 1000;
}

.scoreModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
